html
  head
    title Hello
  body
    a(href="/hack?q=<script>alert('hacked')</script>")
      | Click Here
    |         
    form(action='/hack', method='post')
      input(type='text', name='q')
      |             
      input(type='submit', value='submit')